<%- include("partials/" + headerName); %>
<h1>Contact</h1>
<div class="contact">
  <a href="mailto:mjmjmj9840@gmail.com"><i class="far fa-envelope"></i> Email</a>
  <a href="http://github.com/mjmjmj9840/blog-website"><i class="fab fa-github"></i> Github</a>
  <a href="http://mjmjmj98.tistory.com"><i class="fab fa-medium-m"></i> Tistory</a>
</div>
<%- include("partials/footer") %>
