/* Header Section */
.container {
  margin: 30px 50px;
}
.navbar {
  padding: 15px 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
}
.navbar-brand {
  font-size: 3rem;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

/* Home - Body Section */

.post {
  margin-top: 40px;
}

.post-title {
  text-decoration: underline;
}

.post-content {
  font-size: 2rem;
}

/* Contact Section */

.contact {
  margin: 20px 10px;
}

.contact a {
  font-size: 2rem;
  text-decoration: none;
  padding-right: 20px;
}

/* Compose Section */

.form-group label {
  font-size: 2rem;
}
